<h1>Запити</h1>
<%= link_to "Знайти багаж, середня вага однієї речі в якому відрізняється не більш ніж на 0.3 кг від загальної середньої ваги однієї речі",
            query_a_path, :class => 'btn btn-primary mb-2' %>

<%= link_to "Знайти число пасажирів, що мають більше 2-х речей й число пасажирів, чия кількість речей перевищує середню кількість речей",
            query_b_path, :class => 'btn btn-primary mb-2' %>

<%= link_to "Визначити, чи є 2 пасажири, багажи яких мають однакову кількість речей і відрізнаються за вагою не більш ніж на 0.5 кг",
            query_c_path, :class => 'btn btn-primary mb-2' %>

<%= link_to "Визначити, чи існує пасажир, багаж якого перевершує інші багажі й за вагою, й за кількістю речей",
            query_d_path, :class => 'btn btn-primary mb-2' %>

<%= link_to "Визначити, чи існує пасажир, багаж якого складається з однієї речі вагою менше ніж 30 кг",
            query_e_path, :class => 'btn btn-primary mb-2' %>