<!DOCTYPE html>
<html>
  <head>
    <title>Lab7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 ml-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4 ms-3 font-weight-bold">Багаж</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <span class="p-2 text-dark"><%= link_to "Головна сторінка", home_path %></span>
          <span class="p-2 text-dark"><%= link_to "Додавання багажу", new_item_path %></span>
          <span class="p-2 text-dark"><%= link_to "Запити", queries_list_path %></span>
        </li>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
